theme = "gruvbox_dark_hard_custom" # current theme, used for easy toggling

# Dark Themes
# theme = "dark_plus" # vscode color scheme
# theme = "molokai"

# Light Themes
# theme = "zed_onelight"

# TODO
# create macro to add debug comment to end of line, language agnostic???

[editor]
true-color = true
line-number = "relative"
cursorline = true
rulers = [80, 120]
bufferline = "always"
insert-final-newline = true
trim-trailing-whitespace = true
color-modes = true
completion-timeout = 5
completion-replace = true

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false
deduplicate-links = false

[editor.statusline]
right = ["version-control", "diagnostics", "register", "position", "file-encoding"]

[editor.indent-guides]
render = true

[editor.whitespace.render]
space = "all"

[keys.insert]
# defaults
"C-s" = "no_op" # don't interfere with tmux
esc = ["collapse_selection", "normal_mode"]
"C-c" = ["collapse_selection", "normal_mode"]
"C-7" = "toggle_comments" # ctrl + / # only available in linux
# no cheating
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"
# misc
"C-n" = "completion"

[keys.select]
# defaults
"C-s" = "no_op" # don't interfere with tmux
esc = ["collapse_selection", "normal_mode"]
"C-c" = ["collapse_selection", "normal_mode"]
"C-7" = "toggle_comments" # ctrl + /
# vim continuity
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
"0" = "goto_line_start"
# misc
"y" = ["yank_main_selection_to_clipboard", "yank"] # yank selection to main clipboard and register

[keys.normal]
# defaults
"C-s" = "no_op" # don't interfere with tmux
esc = ["collapse_selection", "keep_primary_selection"]
"C-c" = ["collapse_selection", "keep_primary_selection"]
"C-7" = "toggle_comments" # ctrl + / # only available in linux
# vim continuity
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
"0" = "goto_line_start"
# misc
"C-t" = ":new"
"C-r" = ":reload-all"
"y" = ["yank_main_selection_to_clipboard", "yank"] # yank selection to main clipboard and register
# TODO: make this work but with diff shortcut/alias
# C = ["extend_to_line_end", "yank_main_selection_to_clipboard", "delete_selection", "insert_mode"]

[editor.soft-wrap]
enable = false
wrap-at-text-width = true

[keys.normal.space]
W = [":toggle soft-wrap.enable", ":redraw"]

# TODOs menu
[keys.normal.space.t]
d = "@0t]<esc>rX:w<ret>0"
u = "@0t]<esc>r :w<ret>0"
n = "@o- [ ] "
# sort todos by status
s = [
  "goto_prev_paragraph",
  "collapse_selection",
  "select_mode",
  "goto_next_paragraph",
  "extend_line_up",
  "extend_to_line_bounds",
  "split_selection_on_newline",
  ":sort --insensitive",
  "exit_select_mode",
  "goto_prev_paragraph",
  "collapse_selection",
  ":write"
]

# git menus
[keys.normal.space.l]
# show git blame for current line
b = ":echo %sh{git blame -L %{cursor_line},+1 %{buffer_name} | awk -F'[()]' '{print $2}' | awk -F' ' '{NF--; print}'}"
# open repo at current line
g = ":noop %sh{gh browse -c %{buffer_name}:%{cursor_line}}"
# copy link to repo at current line
l = ":sh gh browse -n -c %{buffer_name}:%{cursor_line} | xclip -i -selection primary -selection clipboard"
# copy file name
f = ":sh echo %{buffer_name} | xclip -i -selection primary -selection clipboard"

[keys.select.space.l]
# open gh repo at selected line range
g = ":echo %sh{gh browse -c %{buffer_name}:%{selection_line_start}-%{selection_line_end}}"
# copy link to repo at current line
l = ":sh gh browse -n -c %{buffer_name}:%{selection_line_start}-%{selection_line_end} | xclip -i -selection primary -selection clipboard"
